$padding-top: 6rem;
$padding-bottom: 6rem;
$main-transition: 0.3s ease-in-out;
$max-z-index: 99999;
$left: left;
$right: right;

// colors
$main-blue: #0066cc;
$secondary-bg: #ececec;
$yellow: #0066cc;
$magenta: #0066cc;
// $yellow: #fec823;
// $magenta: #5455a1;

$mobileScreen: 767px;
$midScreen: 991px;
$largeScreen: 991px;
